@using System.Data
@rendermode InteractiveServer

<div class="customer-master-section">
    <hr class="fade-divider my-4" />
    <h5 class="mb-3">Customer Details</h5>

    <T_Row>
        <T_Input Title="Customer Code *" ReadOnly="true"
                 @bind-Value="@customerModel.dict["CustomerCode"]"
                 ColSize="col-md-3" />
        <T_Input Title="Customer Name *"
                 @bind-Value="@customerModel.dict["CustomerName"]"
                 MaxLength="1000" ColSize="col-md-6"
                 GetInputReference="@((eref) => RegisterReference?.Invoke(StartIndex + 0, eref))"
                 NextReference="@(GetParentRef?.Invoke(StartIndex + 1) ?? default)"
                 @ref="firstCustomerReference" />
        <T_Input Title="City" @bind-Value="@customerModel.dict["CustomerCity"]"
                 MaxLength="100" ColSize="col-md-3"
                 GetInputReference="@((eref) => RegisterReference?.Invoke(StartIndex + 1, eref))"
                 NextReference="@(GetParentRef?.Invoke(StartIndex + 2) ?? default)" />
    </T_Row>
    <T_Row>
        <T_Input Title="District" @bind-Value="@customerModel.dict["CustomerDistrict"]"
                 MaxLength="100" ColSize="col-md-3"
                 GetInputReference="@((eref) => RegisterReference?.Invoke(StartIndex + 2, eref))"
                 NextReference="@(GetParentRef?.Invoke(StartIndex + 3) ?? default)" />
        <T_Input Title="Phone No." @bind-Value="@customerModel.dict["CustomerPhoneNo"]"
                 MaxLength="50" ColSize="col-md-3"
                 GetInputReference="@((eref) => RegisterReference?.Invoke(StartIndex + 3, eref))"
                 NextReference="@(GetParentRef?.Invoke(StartIndex + 4) ?? default)" />
        <T_Input Title="Mobile No." @bind-Value="@customerModel.dict["CustomerMobileNo"]"
                 MaxLength="50" ColSize="col-md-3"
                 GetInputReference="@((eref) => RegisterReference?.Invoke(StartIndex + 4, eref))"
                 NextReference="@(GetParentRef?.Invoke(StartIndex + 5) ?? default)" />
        <T_Input Title="Email" @bind-Value="@customerModel.dict["CustomerEmail"]"
                 MaxLength="100" ColSize="col-md-3"
                 GetInputReference="@((eref) => RegisterReference?.Invoke(StartIndex + 5, eref))"
                 NextReference="@(GetParentRef?.Invoke(StartIndex + 6) ?? default)" />
    </T_Row>
    <T_Row>
        <T_Input Title="GST No." @bind-Value="@customerModel.dict["CustomerGSTNo"]"
                 MaxLength="50" ColSize="col-md-4"
                 GetInputReference="@((eref) => RegisterReference?.Invoke(StartIndex + 6, eref))"
                 NextReference="@(GetParentRef?.Invoke(StartIndex + 7) ?? default)" />
        <T_Input Title="PAN No." @bind-Value="@customerModel.dict["CustomerPanNo"]"
                 MaxLength="50" ColSize="col-md-4"
                 GetInputReference="@((eref) => RegisterReference?.Invoke(StartIndex + 7, eref))"
                 NextReference="@(GetParentRef?.Invoke(StartIndex + 8) ?? default)" />
        <T_Input Title="State Code" @bind-Value="@customerModel.dict["CustomerStateCode"]"
                 MaxLength="10" ColSize="col-md-4"
                 GetInputReference="@((eref) => RegisterReference?.Invoke(StartIndex + 8, eref))"
                 NextReference="@(GetParentRef?.Invoke(StartIndex + 9) ?? default)" />
    </T_Row>
    <T_Row>
        <T_Input Title="Credit Days" Type="number"
                 @bind-Value="@customerModel.dict["CustomerCreditDays"]" ColSize="col-md-3"
                 GetInputReference="@((eref) => RegisterReference?.Invoke(StartIndex + 9, eref))"
                 NextReference="@(GetParentRef?.Invoke(StartIndex + 10) ?? default)" />
        <T_Input Title="Address" @bind-Value="@customerModel.dict["CustomerAddress"]"
                 MaxLength="500" ColSize="col-md-6"
                 GetInputReference="@((eref) => RegisterReference?.Invoke(StartIndex + 10, eref))"
                 NextReference="@(GetParentRef?.Invoke(StartIndex + 11) ?? default)" />

    </T_Row>
</div>

@code {
    [Parameter] public Model customerModel { get; set; }
    [Parameter] public Action<int, ElementReference> RegisterReference { get; set; }
    [Parameter] public Func<int, ElementReference> GetParentRef { get; set; }
    [Parameter] public int StartIndex { get; set; }
    [Parameter] public EventCallback OnFinalEnter { get; set; }

    private T_Input firstCustomerReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && firstCustomerReference?.reference.Id != null)
        {
            await firstCustomerReference.Focus();
        }
    }

    public List<string> ValidateCustomer()
    {
        var errors = new List<string>();
        if (string.IsNullOrWhiteSpace(customerModel.dict["CustomerName"]))
            errors.Add("Customer Name is required");
        return errors;
    }

    public void SaveCustomer(Transaction transaction) => customerModel.Save(transaction);
    public void UpdateCustomer(Transaction transaction) => customerModel.Update(transaction);
    public void PopulateCustomer(DataRow row) => customerModel.Populate(row);
}
