<button  type="button" class="btn @bsCls" style="@Style" @onclick="Click" disabled="@Disabled">
                @if (isClicked)
                {
                    <span class="spinner-border spinner-border-sm me-2" role="status"></span>
                    <span>@spanText</span>
                }
                else
                {
                    <i class="bi bi-floppy"></i>
                    <span>@Text</span>
                }
</button>



@code{
    [Parameter] public string Text {get; set;} = "";

    [Parameter] public string spanText{get; set;} = "";//Text to be shown when button is clicked

    //Properties
    [Parameter] public string btnType{get; set;} = "";//Blue, Save, Danger
    [Parameter] public int DelayTime{get; set;} = 0;
    [Parameter] public bool Disabled{get; set;} = false;

  
    [Parameter] public string Style{get; set;} = "";
    //Event CallBack
    [Parameter] public EventCallback OnClick{get; set;}


    private bool isClicked = false; //Boolean to check whether button is Clicked

    private string bsCls = "btn-outline-secondary";//Bootstrap Css Code


    //Only run at the start first initializing the page/component
    protected override void OnInitialized(){
        if(btnType == "Save" || Text=="Save")bsCls="btn-success";
        else if(btnType == "Blue" || Text=="Edit" || Text == "Select")bsCls="btn-outline-primary btn-sm fw-semibold";
        else if(btnType == "Danger" || Text == "Cancel" || Text == "Remove" || Text == "Delete")bsCls="btn-outline-danger btn-sm fw-semibold";
        
        if(spanText == "")spanText = Text;
    }

    private async Task Click(){
        isClicked = true;
        Disabled=true;
        await OnClick.InvokeAsync();
        if(DelayTime>0)await Task.Delay(DelayTime);
        isClicked = false;
        Disabled=false;
    }
    
}